In [78]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [79]:
df=pd.read_csv("Property_Price_Train.csv",na_values=["NA"])

In [80]:
df1=df

In [81]:
X=df[['Overall_Material','Construction_Year','Remodel_Year','Lot_Extent']].values
y=df['Sale_Price'].values

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [86]:
df=df["Lot_Extent"].fillna(df["Lot_Extent"].mean(),inplace=True)

TypeError: 'NoneType' object is not subscriptable

In [53]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [42]:
y_pred = regressor.predict(X_test)

In [43]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1 = df.head(25)

In [44]:
df1

    Actual      Predicted
0   223000  171925.862092
1    91300  136961.840366
2   140000  182798.491694
3   135960  135539.752462
4   156000  128832.408533
5   130000  124041.448583
6   141000  230234.481560
7   174000  269016.071165
8    75000   90050.818928
9   109008   83822.570993
10   98300  121645.968608
11  325000  313546.812709
12   91000  160504.919564
13  226700  230350.387491
14  301500  266257.401126
15  155000  223079.258364
16  173733  191089.701891
17  415298  313546.812709
18  246578  230829.483486
19  177000  184204.835139
20  287000  257633.673217
21  100000   79425.745648
22  149350  143839.107078
23  208900  231192.673550
24   82500  216935.699632

In [45]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 31464.526274602376
Mean Squared Error: 1990700199.4666977
Root Mean Squared Error: 44617.26346905083